video::-webkit-media-controls {
    display: none !important;
}
video::-moz-media-controls {
    display: none !important;
}
video::-o-media-controls {
    display: none !important;
}
video::media-controls {
    display: none !important;
}

:root{--bgcolor:white}          /* 全局背景 */
:root{--searchbg:white}       /* 搜索输入框背景 */
:root{--placecolor: #acacac}    /* 搜索输入框提示文字颜色 */
:root{--scrA:#ddd}
:root{--scrB:white}
:root{--panelc: #e0e0e0}
:root{--pagebg:#F5F5F5}
:root{--pagediss:#c0c4cc}
:root{--animadur:0.2s}
@media(prefers-color-scheme:dark){ /* 系统夜间模式 */
    :root{--bgcolor:#222}
    :root{--searchbg: #faf5f5}
    :root{--placecolor: #333}
    :root{--scrA:#222}
    :root{--scrB:#333}
    :root{--panelc:#111}
    :root{--pagebg:#000}
    :root{--pagediss:#222}
}

*{
    padding:0;
    margin:0;
}

html,body{

    height:100%;
    background-color:var(--bgcolor);
    overflow-x:hidden;
                                    /* scrollbar-width: thin; 可以是 'auto', 'thin', 'none' */
    scrollbar-color:var(--scrA) var(--scrB); /* 滚动条的颜色，第一个值是滑块的颜色，第二个是背景的颜色 */
}

.javtopnomal{
    position: relative;
    margin-top:16.5%;
}
.htmllogo{
    position: relative;
    margin-left:39%;
    width:22%;
    padding:0.38%;
    border-radius:30px;
    cursor:pointer;
    transition-duration:var(--animadur);
}

.htmllogo:hover {
    /* transform:scale(1.1); 缩放效果 */
    transition-duration:var(--animadur);
    filter:saturate(150%) contrast(120%);  /* 多个中间空格-->filter:saturate(150%) contrast(150%); */
    box-shadow: 0 0 38px #ff6262;
}

.htmllogoimg{
    width:80%;
    margin-left:10%;
}

.remind{
    position:relative;
    margin-left:2%;
}

.javframe{
    position:relative;
    width:100%;
}

.framepagesbox{
    position:relative;
    display:inline-block;
    width:100%;
}

.copyright{
    position:relative;
    width:100%;
    margin-bottom:1%;
    text-align: center;
    color:var(--placecolor);
    transition-duration:var(--animadur);
    display:inline-block;
    cursor:pointer;
}
.copyright:hover{
    filter:contrast(75%);
    transition-duration:var(--animadur);
}

.testlog{
    position: fixed;
    z-index:9999;
    color:#93bd6f;
    width:10%;
    height:18%;
    left:88%;
    top:2%;
    overflow-y:auto;
    max-height:18%;
    pointer-events:none;
}